.home{
    position: relative;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
}

.header{
    grid-template-columns: 2fr 9fr;
    column-gap: 1.875rem;
    font-size: 1.75rem;
    padding-bottom: 0px;
}

.homeimg{
    padding-right: 15px;
}


